<%- include('include/_header') %>
    <!-- body -->
    <div id="content">
        <div class="add-person">
            <a href="/add_person">
                <span class="material-symbols-outlined add-person-icon">person_add</span>
            </a>
        </div>
        <h1 class="content-text">BugMeNot: find and share logins</h1>
        <p class="content-para">Enter a website below to see if the bugmenot community has shared any logins for it...</p>
        <form class="search_form">
        <label for="search_query">Domain/URL:</label>
        <input type="text" name="search_query" id="search_query">
        <button class="search_icon"><span class="material-symbols-outlined">
            search
            </span></button>
        </form>
        <div class="detail-main">
            <div class="detail-container">
                <div class="detail-boxes">
                    <div class="detail-box">
                        
                        <h1>Someone Famous <br> <span>Website Designer</span> </h1>
                    </div>
                </div>
            </div>
            <div class="detail-container">
                <div class="detail-boxes">
                    <div class="detail-box">
                        
                        <h1>Someone Famous <br> <span>Website Designer</span> </h1>
                    </div>
                </div>
            </div>
            <div class="detail-container">
                <div class="detail-boxes">
                    <div class="detail-box">
                        
                        <h1>Someone Famous <br> <span>Website Designer</span> </h1>
                    </div>
                </div>
            </div>
            <div class="detail-container">
                <div class="detail-boxes">
                    <div class="detail-box">
                        
                        <h1>Someone Famous <br> <span>Website Designer</span> </h1>
                    </div>
                </div>
            </div>
            <div class="detail-container">
                <div class="detail-boxes">
                    <div class="detail-box">
                        
                        <h1>Someone Famous <br> <span>Website Designer</span> </h1>
                    </div>
                </div>
            </div>
            <div class="detail-container">
                <div class="detail-boxes">
                    <div class="detail-box">
                        
                        <h1>Someone Famous <br> <span>Website Designer</span> </h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- body -->
<%- include('include/_footer') %>