<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bugMeNot_application</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <!-- header -->
    <header id="header">
        <nav>
            <div class="container">
                    <a href="/" class="nav-brand" style="color: #fff;">
                        <img src="../assets/img/logo.png" alt="BugMeNot"></a>
                    <form class="search_form">
                        <input type="text" name="search_query" id="search_query" placeholder="Enter domain or url...">
                        <button class="search_icon"><span class="material-symbols-outlined">search</span></button>
                    </form>
            </div>
        </nav>
    </header>
    <!-- header -->

    <!-- body -->
    <div id="content">
        <div class="add-person">
            <a href="/add-person">
                <span class="material-symbols-outlined add-person-icon">person_add</span>
            </a>
        </div>
        <h1 class="content-text">BugMeNot: find and share logins</h1>
        <p class="content-para">Enter a website below to see if the bugmenot community has shared any logins for it...</p>
        <form class="search_form">
        <label for="search_query">Domain/URL:</label>
        <input type="text" name="search_query" id="search_query">
        <button class="search_icon"><span class="material-symbols-outlined">
            search
            </span></button>
        </form>
    </div>
    <!-- body -->

    <!-- footer -->
    <footer>
        <ul>
        <li><a href="/terms.php">Terms Of Use</a></li>
        <li><a href="/removal.php">Removal</a></li>
        </ul>
        
    </footer>
    <!-- footer -->
</body>
</html>